<!--index.vtl-->
<h1>Team and Member List for the Bad Idea Hack-A-Thon!</h1>

<a href="/teams">View Team List</a>
<a href="/teams/new">Add a New Team</a>

<p>Coders, designers, hackers, techies and pranksters in and around Seattle! Do you want to create something that's terrific, but has absolutely no value at all? Joel invites you to participate in the Stupid Stuff No One Needs & Terrible Ideas Hack-a-thon Seattle. So sign up today and build something awesomely valueless!</p>
<!--index.vtl-->
