<!--layout-->
<!DOCTYPE html>
<html>
  <head>
    <title>Start-Up Team and Member Tracking List</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      #parse( $template )
    </div>
  </body>
</html>
<!--layout-->
